.hospital-card{
  width:100%;
  height:200px;
  background: whitesmoke;
  margin: 15px 15px;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border:1px dashed teal;
}
.hospital-card button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 110%;
  font-weight: bold;
  font-style: italic;
}
.hospital-card button:hover{
  background-color: white;
  border-radius:10%;
}