.DonationInnerView{
  text-align:center;
}
.DonationInnerView img{
  width: 50%;
  border-radius: 5%;
}
.LowerPart{
  text-align: end;
  text-align: right;
  padding: 1%;
  font-weight: bold;
}
.DonationBtn{
    background: #ccffce;
    font-size: larger;
    color: teal;
    padding: 10px;
    border-radius: 10px;
    border: 2px;
    transition-property: all;
    transition-duration: 5ms;
    transition-delay: 5ms;
    cursor: pointer;
}
@media (max-width:520px){
  .DonationInnerView img{
    width: 90%;
  } 
}