.doctorAppointment{
  text-align: center;
  padding: 2%;
}

.doctorAppointment img{
  width:50%;
  border-radius: 50%;
  border:2px solid teal;
}
@media (max-width:520px) {
  .doctorAppointment img{
    width:70%;
  } 
}
@media (max-width:420px) {
  .doctorAppointment img{
    width:90%;
  } 
}